<ion-header>
  <ion-navbar color="primary">
    <ion-title>ICB Sorocaba</ion-title>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-segment color="light" [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
      <ion-segment-button value="{{slide.id}}" *ngFor="let slide of slides">
        {{slide.title}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-slides #slider (ionDidChange)="onSlideChanged($event)">
    <ion-slide *ngFor="let slide of slides">
      <h1>{{ slide.title }}</h1>
    </ion-slide>
  </ion-slides>

</ion-content>
